*{
    margin: 0;
    box-sizing:border-box;
}

body {
  background-color: #fcfcfc;
  color: #800080;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

h2 {
  font-size: 50px;
  color: #FF1493;
}

table {
  width: 50%;
  margin: auto;
  border-collapse: collapse;
}

th{
  width: 10px;
}

tr{
  height: 10px;
}

th {
  background-color: #FFB6C1;
  color: #800080;
}

td {
  background-color: #FFF0F5;
  color: #800080;
}

td:not(:empty) {
  background-color: #FFB6C1; 
}



th, td {
  border: 2px solid #FF69B4;
  padding: 15px;
  text-align: center;
}

